<p>尊敬的[<%= @resource.email %>]用户您好!</p>

<p>请点击以下链接修改密码</p>

<p><%= link_to '点击链接修改密码', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>如果您没有操作，请忽略此邮件。</p>
<p>您的密码不会被修改，除非您点击链接创建新密码。</p>
<p></p>
<p>本邮件由系统自动发出，请勿直接回复！</p>
<p>有任何问题请登录官网<a href="http://www.chinagit.com" target="_blank">www.chinagit.com</a>咨询</p>
